<p>userlist works!</p>
<div></div>
<div class="container wrapper">
  <div class="row">

    <!-- Issue table -->
    <div class="col-md-12">
      <div class="inner">
        <h3>users</h3>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col"> name</th>
            <th scope="col">lastName</th>

            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let users of Users">
            <th scope="row">{{users.id}}</th>
            <th>{{users.firstName}}</th>
            <th>{{users.lastName}}</th>

            <td>
              <button type="button" class="btn btn-success btn-sm move-right" >Edit</button>
              <button type="button" class="btn btn-danger btn-sm">Remove</button>
            </td>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
